table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
  }
  
  th {
    background-color: #f7f7f7;color:#1a1a1a;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
    vertical-align: top;
    position: relative;
  }
  
  .day-container {
    position: relative;
  }
  
  .day-of-month {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .booking {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .booking:hover {
    background-color: #ddd;
  }
  
  .booking-header {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .booking-info {
    margin-bottom: 5px;
  }
  
  #booking-details {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    display: none;
  }
  